@media screen and (max-width: 1500px) {
  .header_menu_nav {
    width: 40%;
  }
}
@media screen and (max-width: 1200px) {
  .blockadd_block {
    width: 900px;
  }
  .blockadd_block_first {
    width: 800px;
  }
  .blockadd_block_first_img1 {
    width: 160px;
    height: 220px;
  }
  .blockadd_block_first_rightside {
    width: 600px;
  }
  .blockadd_block_under {
    width: 90%;
    height: auto;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .blockadd_block_under_right {
    height: auto;
  }
  .blockadd_block_under_right_down {
    height: auto;
  }
  .blockadd_block_under_right_down_pn3 {
    align-items: start;
    width: 100%;
    height: auto;
    flex-direction: column;
    row-gap: 20px;
  }
  .line {
    width: 800px;
  }
  .second_block {
    width: 90%;
  }
  .second_block_item {
    width: 170px;
  }
}
@media screen and (max-width: 1000px) {
  .blockadd_block {
    height: auto;
    padding-bottom: 30px;
    width: 600px;
  }
  .blockadd_block_first {
    width: 540px;
  }
  .blockadd_block_first_img1 {
    display: none;
  }
  .blockadd_block_under {
    overflow: hidden;
  }
  .blockadd_block_under_right_down_pn3 {
    align-items: center;
  }
  .blockadd_block_under_right_down_pn3_left_p1 {
    width: 60%;
  }
  .line {
    width: 540px;
  }
  .second {
    height: auto;
  }
  .second_block {
    height: auto;
    width: 85%;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
    padding-bottom: 30px;
  }
  .second_block_item {
    width: 200px;
  }
  .second_block_item:hover {
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .justmenu {
    width: 44px;
    height: auto;
    display: block;
  }
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
    row-gap: 60px;
  }
  .header_menu_img2 {
    display: block;
  }
  .header_menu_nav {
    width: auto;
  }
  .header_menu_nav a {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .blockadd_block {
    width: 425px;
  }
  .blockadd_block_first {
    width: 100%;
    height: auto;
    padding: 40px 0 0 0;
  }
  .blockadd_block_first_rightside {
    height: auto;
  }
  .blockadd_block_first_rightside_some {
    margin-top: 20px;
    height: auto;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  .blockadd_block_first_rightside_some_p1 {
    width: 80%;
  }
  .line {
    width: 380px;
  }
  .blockadd_block_under_img1 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header {
    height: 900px;
  }
  .header_left {
    width: 300px;
    height: auto;
  }
  .header_right {
    width: 300px;
  }
  .header_right_p1 {
    text-align: center;
  }
  .header_right_p2 {
    text-align: center;
  }
  .header_right_btn {
    display: block;
    margin: 20px auto 0 auto;
  }
  .blockadd_block {
    width: 300px;
  }
  .blockadd_block_first_rightside_some_p1 {
    text-align: center;
  }
  .blockadd_block_under_right_down_pn1_input {
    width: 250px;
  }
  .blockadd_block_under_right_down_pn3_btn {
    width: 130px;
  }
  .line {
    width: 260px;
  }
}/*# sourceMappingURL=mediapur.css.map */